### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>


RewriteEngine On
 
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


RewriteRule main index.php

RewriteRule oferty oferty.php
RewriteRule logowanie firmy.php
RewriteRule konto firmyZ.php
RewriteRule rejestracja rejestr.php

